.myTag {
	/* display: flex;
	justify-content: baseline;

	border: 1px solid grey;
	border: 100%;
	border-radius: 20px;

	stroke-opacity: inherit;

	height: 24px;
	margin: 2px;
	padding: 2px;

	background-color: transparent; */

	width: fit-content;
}