.createDeskButton {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #FFFF;
    font-size: 24px;
    transition: 0.35s;
    &:hover{
        color: #afb0b0;
    }
}
